<?xml version="1.0"?>
<config>
    <tabs>
        <soulmkt module="parcelas" translate="label">
          <label>Soulmkt Extensions</label>
          <sort_order>200</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>0</show_in_website>
          <show_in_store>0</show_in_store>
        </soulmkt> 
    </tabs>
    <sections>
        <soulmkt_parcelas translate="label">
            <label>Soulmkt Installment</label>
            <tab>soulmkt</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <parcelas translate="label">
                    <label>Installment Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <maxima_parcelas translate="label comment">
                            <label>Maximum Number of Installments</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </maxima_parcelas>
                        <minimo_parcelas translate="label comment">
                            <label>Minimum Installment</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-number</validate>
                        </minimo_parcelas>
                        <desconto_boleto translate="label comment">
                            <label>Discount billet</label>
                            <comment>Only the number of percentage (%) if there</comment> 
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </desconto_boleto> 
                        
                         <clique_cjm translate="label comment">
                            <label>Enable CJM</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </clique_cjm>
                        
                        <!--<add_price translate="label comment">
                            <label>Adicionar ao price automaticamente</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                     		</add_price> -->
                        
                    </fields>
                </parcelas>
            </groups>
        </soulmkt_parcelas>
    </sections>
</config>