<?xml version="1.0"?>
  
<config>
    <modules>
        <Cris_Parcelas>
            <version>1.2.2</version>
        </Cris_Parcelas>
    </modules>
    <global>
        <helpers>
            <parcelas>
                <class>Cris_Parcelas_Helper</class>
            </parcelas>
        </helpers>

     	<blocks>
			<parcelas>
				<class>Cris_Parcelas_Block</class>
        	</parcelas>
      	</blocks>
      	

        <models> 
            <cris_parcelas>
                <class>Cris_Parcelas_Model</class>
            </cris_parcelas>
        </models>

    </global>
    
    
	<frontend>
		<layout>
		  <updates>
			<parcelas>
			  <file>crisparcelas.xml</file>
			</parcelas>
		  </updates> 
		</layout>
		
		 <translate>
            <modules>
                <cris_parcelas>
                    <files>
                        <default>crisparcelas.csv</default>
                    </files>
                </cris_parcelas>
            </modules>
        </translate>
		
		<!--<events>
            <core_block_abstract_to_html_before>
                <observers>
                    <cris_parcelas>
                        <type>model</type> 
                        <class>cris_parcelas/observer</class>
                        <method>insertBlock</method>
                    </cris_parcelas>
                </observers> 
            </core_block_abstract_to_html_before>
     </events>-->
        
 	</frontend>
 	<adminhtml>
 		<translate>
            <modules>
                <cris_parcelas>
                    <files>
                        <default>crisparcelas.csv</default>
                    </files>
                </cris_parcelas>
            </modules>
        </translate> 
    </adminhtml>
</config>  